.juniors-section {
  text-align: center;
  padding-top: 60px;
  color: #ffffff;
  padding-bottom: 100px; /* Adjust this value based on your footer height */
}

.juniors-picture,
.juniors-image {
  width: 100%;
  max-width: 500px;
  margin: 10px auto;
  margin-bottom: 10px;
}

.juniors-section h2 {
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.juniors-section .content-container p {
  font-size: 15px;
  max-width: 400px;
  margin: 0 auto;
}

.juniors-english {
  display: none;
}

.new-images-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.juniors-image.hidden-on-mobile {
    display: none;
  }
  
  @media (min-width: 1025px) {
    .juniors-image.hidden-on-mobile {
      display: block;
    }
  
    picture.juniors-image.hidden-on-mobile {
      width: 49%;
      max-width: 580px;
    }
  
    picture.juniors-image.hidden-on-mobile img {
      width: 100%;
      height: auto;
      border-radius: 5px;
    }
  }

@media (min-width: 1025px) {
    .juniors-section {
      max-width: 1200px;
      margin: 0 auto;
      padding: 40px 20px;
      padding-bottom: 100px; /* Adjust this value based on your footer height */
    }
  
    .new-images-wrapper {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }
  
    .juniors-image.hidden-on-mobile {
      display: block;
      width: 49%;
      max-width: 580px;
      height: auto;
      border-radius: 5px;
    }
  
    .juniors-content-group {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
  
    .juniors-picture-wrapper {
      width: 50%;
      max-width: 800px;
      padding-left: 5px;
    }
  
    .juniors-picture {
      width: 100%;
      height: auto;
      border-radius: 5px;
    }
  
    .juniors-section .content-container {
      width: 49%;
      max-width: 580px;
      padding-left: 20px;
    }
  
    .juniors-section .content-container p {
      max-width: none;
      width: 100%;
      text-align: left;
      margin: 0 0 20px 0;
      font-size: 16px;
      line-height: 1.5;
    }
  
    .juniors-english {
      display: block;
      padding-top: 20px;
    }
  }